.country-info {
    width: 30vw;
}
.country-info span{
    font-weight: bold;
}
.country-info li{
    list-style: none;
    font-weight: lighter;
}
.country-info a{
    text-decoration: none;
    color: purple;
}